# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Git
.git
.gitignore

# Node / Frontend
frontend/node_modules
frontend/dist

# Docker
*.Dockerfile
docker-compose.yaml

# Uploads / Temp
backend/uploads
*.db
*.sqlite3
*.log

# System files
.DS_Store
Thumbs.db
